body {
    padding-top: 60px;
    padding-bottom: 20px;
    background: #fff;
    font-weight: 400;
    text-shadow: 0 1px 1px #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    color: #222 !important;
}

h2 code {
    font-size: inherit;
    background-color: inherit;
    border: none;
}

header {
    box-shadow: 0 1px 2px #ccc;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 10;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
}

code {
    color: #333;
    background-color: #f9f9f9;
}

pre {
    padding: 8px 15px;
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
    text-shadow: none;
    font-size: 12px;
    line-height: 18px;
}

pre code {
    border: none;
    background-color: transparent;
    font-size: inherit;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #999;
}

footer a {
    color: #222;
}

#content {
    margin: 0 auto;
    max-width: 780px;
}

.post {
    margin-bottom: 20px;
}

.title {
    line-height: 28px;
}

.title > * {
    vertical-align: middle;
}

.meta {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

.summary {
    margin-left: 20px;
    font-style: italic;
    color: #999;
}

.summary > * {
    font-size: 14px;
}

.summary a {
    color: #222;
}

.content {
    position: relative;
    padding-bottom: 10px;
}

.content img {
    max-height: 500px;
    margin: 20px auto;
    display: block;
}
