@import url(http://fonts.googleapis.com/css?family=Magra:400,700);

body {
    padding-top: 60px;
    padding-bottom: 20px;
    background: #f9f9f9 url(../img/furley.png);
    text-shadow: 0 1px 1px #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    color: #333;
}

em {
    color: #777;
}

h2 code {
    font-size: inherit;
    background-color: inherit;
    border: none;
}

header {
    box-shadow: 0 1px 2px #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #fff;
    position: fixed;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
}

code {
    color: #000;
    font-size: 14px;
    font-family: Monaco, "Bitstream Vera Sans Mono", monospace;
}

pre {
    padding: 8px 15px;
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
    text-shadow: none;
    font-size: 13px;
}

pre code {
    border: none;
    background-color: transparent;
    font-size: inherit;
}

footer {
    text-align: center;
    font-size: 14px;
}

#content {
    margin: 0 auto;
    max-width: 780px;
}
