---
layout: default
---

{% capture elsewhere %}
- [@bruth](https://github.com/bruth) on Github
- [@thedevel](https://twitter.com/thedevel) on Twitter
- [+Byron Ruth](https://plus.google.com/106530954599911462020) on Google+
{% endcapture %}

{% capture other %}
- [$10 credit for Digital Ocean](https://www.digitalocean.com/?refcode=795ce38f16a5)
{% endcapture %}

{% capture podcasts %}
- [Software Engineering Daily](https://itunes.apple.com/us/podcast/software-engineering-daily/id1019576853?mt=2)
- [Software Engineering Radio](https://itunes.apple.com/us/podcast/software-engineering-radio/id120906714?mt=2)
- [The Cognicast](https://itunes.apple.com/us/podcast/the-cognicast-cognitect-blog/id498067022?mt=2)
- [Functional Geekery](https://itunes.apple.com/us/podcast/functional-geekery/id790455326?mt=2)
- [Full Stack Radio](https://itunes.apple.com/us/podcast/full-stack-radio/id931714873?mt=2)
- [The Changelog](https://itunes.apple.com/us/podcast/the-changelog/id341623264?mt=2)
- [Beats, Rye, & Types](https://itunes.apple.com/us/podcast/beats-rye-types/id963582847?mt=2)
- [StartUp Podcast](https://itunes.apple.com/us/podcast/startup-podcast/id913805339?mt=2)
- [The Accidental Creative](https://itunes.apple.com/us/podcast/the-accidental-creative/id93424211?mt=2)
- [Love Your Work](https://itunes.apple.com/us/podcast/love-your-work-w-david-kadavy/id1067860103?mt=2)
- [TestTube Plus](https://itunes.apple.com/us/podcast/testtube-plus/id1012168436?mt=2)
- [Talking Machines](https://itunes.apple.com/us/podcast/talking-machines/id955198749?mt=2)
- [O'Reilly Data Show](https://itunes.apple.com/us/podcast/oreilly-data-show/id944929220?mt=2)
- [Bon Appetit Foodcast](https://itunes.apple.com/us/podcast/bon-appetit-foodcast/id945390489?mt=2)
- [Gastropod](https://itunes.apple.com/us/podcast/gastropod/id918896288?mt=2)
- [Serial](https://itunes.apple.com/us/podcast/serial/id917918570?mt=2)
{% endcapture %}


<div class=col-md-8>
    <h2>Posts</h2>

    {% for post in site.posts limit %}
        <div class=post>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class=meta>{{ post.content | number_of_words }} words &middot; {{ post.date | date_to_string }}</div>
            {% if post.summary %}
                {% capture summary %}{{ post.summary|markdownify }}{% endcapture %}
                <div>{{ summary }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class=col-md-4>
    <h2>Elsewhere</h2>
    {{ elsewhere|markdownify }}

    <h2>Other</h2>
    {{ other|markdownify }}

    <h2>Podcasts</h2>
    {{ podcasts|markdownify }}
</div>
