---
layout: default
---

{% capture elsewhere %}
- [@bruth](https://github.com/bruth) on Github
- [@thedevel](https://twitter.com/thedevel) on Twitter
- [+Byron Ruth](https://plus.google.com/106530954599911462020) on Google+
{% endcapture %}


<div class=col-md-9>
    <h2>Posts</h2>

    {% for post in site.posts limit %}
        <div class=post>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class=meta>{{ post.content | number_of_words }} words &middot; {{ post.date | date_to_string }}</div>
            {% if post.summary %}
                {% capture summary %}{{ post.summary|markdownify }}{% endcapture %}
                <div>{{ summary }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class=col-md-3>
    <h2>Elsewhere</h2>
    {{ elsewhere|markdownify }}
</div>
